<ng-head ng-title="Sercan Eraslan Blog"></ng-head>
<ng-head ng-content="Açık kaynak destekçisi, kitap, doküman ve blog yazarı. Kahve bağımlısı, spor sevdalısı ve gezgin."></ng-head>

<header>
    <div>
        <p>
            <a href="/">Sercan Eraslan</a>
        </p>

        <a href="http://sercaneraslan.com" class="about">Hakkında</a>
    </div>

    <img src="/img/static/workspace.png" alt="" />
</header>
<!-- Header -->

<main class="summary">
    <article>
        <h2>
            <a href="/yeni-yazilar-artık-mediumda">
                Yeni Yazılar Artık Medium'da
            </a>
        </h2>
        <p>Yeni yazılara artık Medium hesabımdan devam ediyorum. <a href="https://medium.com/@sercaneraslan">https://medium.com/@sercaneraslan</a> adresinden ulaşabilirsiniz.</p>
        <a href="/yeni-yazilar-artık-mediumda">DAHA FAZLA</a>
        <span>17 Eylül 2020</span>
    </article>
    <article>
        <h2>
            <a href="/sikca-karistirilan-javascript-fonksiyonlari">
                Sıkça Karıştırılan JavaScript Fonksiyonları
            </a>
        </h2>
        <p>Bir çok JavaScript geliştiricisi JavaScript’in bazı gömülü (built-in) fonksiyonlarını binlerce kez kullanmış olsa dahi zaman zaman bu fonksiyonları birbirleriyle karıştırabiliyor. Bu makalede isimleri ve ne iş yaptıklarını “ezberlemeden” alternatif yöntemlerle “Aklımızda nasıl tutarız?” sorusuna cevaplar arayacağız....</p>
        <a href="/sikca-karistirilan-javascript-fonksiyonlari">DAHA FAZLA</a>
        <span>10 Ağustos 2020</span>
    </article>
    <article>
        <h2>
            <a href="/ecmascript-6-degiskenler">
                ECMAScript 6 - Değişkenler
            </a>
        </h2>
        <p>Birçok C tabanlı dilde değişkenler bildirildikleri (declare edildikleri) yerde oluşurlar fakat JavaScript'te durum böyle değildir. Değişkeni nerede ve nasıl yazdığınıza göre değişkeninizin oluştuğu yer belli olur. ECMAScript 6 ile artık değişkenlerin scope'unu (kapsamını) kontrol edebiliyoruz yani bildirildiği yerde oluşmasını sağlayabiliyoruz ama öncelikle hoisting konusuna değinmemiz....</p>
        <a href="/ecmascript-6-degiskenler">DAHA FAZLA</a>
        <span>29 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/ecmascript-6-destructuring">
                ECMAScript 6 - Destructuring
            </a>
        </h2>
        <p>ECMAScript 6 ile birlikte objelere (Object) ve dizilere (Array) Destructuring (Parçalama / Yıkım / Yapıbozum) özelliği geldi. Destructuring, veri yapısını küçük parçalara ayırma işlemidir. Genellikle objeleri ve dizileri tanımladıktan sonra işimize yarayan parçaları içlerinden çekip alırız ve kullanırız. ECMAScript 6 öncesinde bu işi nasıl yaptığımızı görelim...</p>
        <a href="/ecmascript-6-destructuring">DAHA FAZLA</a>
        <span>22 Şubat 2016</span>
    </article>
    <article>
        <h2>
            <a href="/neden-custom-select-kullanmamaliyiz">
                Neden Custom Select Kullanmamalıyız?
            </a>
        </h2>
        <p>Yıllardır farklı kişilerle farklı ortamlarda "Native Select mi yoksa Custom Select mi?" tartışmaları bıkmadan usanmadan tekrar tekrar yapıldı ve yapılmaya devam ediyor. Bir sürü Front-End'çi ile tasarımcının arası bu tartışmalar sebebiyle açıldı. Kimi İyi'yi, kimi Kötü'yü kimi de Çirkin'i savundu. Artık bu tartışmalar...</p>
        <a href="/neden-custom-select-kullanmamaliyiz">DAHA FAZLA</a>
        <span>29 Ocak 2016</span>
    </article>
    <article>
        <h2>
            <a href="/grunt-performans-arttirma-ipuclari">
                Grunt Performans Arttırma İpuçları
            </a>
        </h2>
        <p>SAFE’in (sahibinden.com geliştirme ortamının) ilk versiyonunu Ağustos 2013’te hazırlanmaya başlamıştık. O sıralarda dosyaların sayısı, dosya boyutları ve Grunt task’larımızın sayısı bugüne göre çok daha azdı. Dolayısıyla Grunt task’larımız çok kısa sürelerde tamamlanıyordu ve iyileştirme yapmak gibi bir ihtiyaç hissedilmemişti...</p>
        <a href="/grunt-performans-arttirma-ipuclari">DAHA FAZLA</a>
        <span>27 Ağustos 2015</span>
    </article>
    <article>
        <h2>
            <a href="/angularjs-hata-ayiklama-modu">
                AngularJS - Hata Ayıklama Modu
            </a>
        </h2>
        <p>AngularJS kullanılan bir projenin derlenmiş HTML kodlarını incelediğinizde hata ayıklama (debug) için eklenmiş bilgileri görürsünüz. Bu bilgiler elemanlara class olarak eklenir. Mesela normalde kodunuz aşağıdaki gibiyken...</p>
        <a href="/angularjs-hata-ayiklama-modu">DAHA FAZLA</a>
        <span>3O Mart 2015</span>
    </article>
    <article>
        <h2>
            <a href="/ngshow-nghide-ve-ngif-angularjs-directivelerinin-dogru-kullanimi">
                ngShow, ngHide ve ngIf AngularJS Directive'lerinin Doğru Kullanımı
            </a>
        </h2>
        <p>Angular kodu yazarken birçok sayfada ngShow, ngHide ve ngIf directive'lerini kullanmaktayız. Bu directive'ler işlerimizi çok kolaylaştırıyor ve kodun okunabilirliğine oldukça yardımcı oluyor fakat kullanırken dikkat etmemiz gereken bazı unsurlar var. Her ne kadar birbirine benziyor gibi görünseler de...</p>
        <a href="/ngshow-nghide-ve-ngif-angularjs-directivelerinin-dogru-kullanimi">DAHA FAZLA</a>
        <span>26 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/sitemi-yenileme-maceram">
                Sitemi Yenileme Maceram
            </a>
        </h2>
        <p>Herşey, sitemin çok eskidiğini, yenilenmeye ihtiyacı olduğunu düşündüğümde başladı. Site 2009'dan beri aynı altyapı ile çalışıyordu ve geliştirme yapmak zorlaşmaya başlamıştı. Hepimizin bildiği üzere biz geliştiriciler üşengeç insanlarız. Sürekli olarak...</p>
        <a href="/sitemi-yenileme-maceram">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/sitenizi-github-uzerinde-ucretsiz-barindirin">
                Sitenizi Github Üzerinde Ücretsiz Barındırın
            </a>
        </h2>
        <p>Bu yazıda HTML, CSS ve JavaScript ile hazırlanmış web sitesini hosting/barındırma ücreti ödemeden Github aracılığıyla ve kendi domaininiz/alan adınız üzerinden nasıl yayınlayabileceğinizi anlatmaya çalışacağım....</p>
        <a href="/sitenizi-github-uzerinde-ucretsiz-barindirin">DAHA FAZLA</a>
        <span>12 Ocak 2015</span>
    </article>
    <article>
        <h2>
            <a href="/zamandan-tasarruf-ettiren-gorev-calistiricisi-grunt">
                Zamandan Tasarruf Ettiren Görev Çalıştırıcısı, Grunt
            </a>
        </h2>
        <p>Yazılım geliştiricilerin sürekli yapması gereken ve kendini tekrar eden bazı sıkıcı görevleri vardır. Bu bazen dosya sıkıştırmak, bazen de kod derlemek olabiliyor ve geliştiriciler bunları her seferinde tekrar tekrar yaparak gereksiz bir zaman kaybı yaşıyor...</p>
        <a href="/zamandan-tasarruf-ettiren-gorev-calistiricisi-grunt">DAHA FAZLA</a>
        <span>3 Temmuz 2014</span>
    </article>
    <article>
        <h2>
            <a href="/sublime-texti-etkin-kullanma">
                Sublime Text'i Etkin Kullanma
            </a>
        </h2>
        <p>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>
        <a href="/sublime-texti-etkin-kullanma">DAHA FAZLA</a>
        <span>20 Mayıs 2014</span>
    </article>
</main>
<!-- Blog Summary -->
