/*
*
* Global Styles
*
*/
@import mixins

@font-face
    font-family MuseoSansBold
    src url(../font/MuseoSans.otf)

@font-face
    font-family FontAwesome
    src url(../font/FontAwesome.woff)

body
    font-family MuseoSansBold
    font-size 14px

a
    text-decoration none
    color $green
    outline none
