/*
*
* Header Styles
*
*/

@import mixins

header
    background linear-gradient(135deg, #52bccc 10%, #52bccc 10%, #8bd6c2 100%)

    div
        overflow hidden
        alignment()
        max-width 1170px
        padding 15px 0

        p
            float left

            a
                display inline-block
                padding 9px 0 0 58px
                font-size 16px
                color $white
                border-radius 60px
                position relative

                &:hover
                    color $white
                    transition all ease .5s

                &:before
                    content "\f121"
                    font-family FontAwesome
                    color $white
                    font-size 40px
                    position absolute
                    top -5px
                    left 5px
                    transform rotate(0deg)
                    transition all ease .5s

                &:hover:before
                    transform rotate(360deg)
                    transition all ease .5s

        .about
            display block
            float right
            color $white
            font-size 16px
            padding 8px 20px
            border 2px solid $white
            border-radius 60px
            transition all ease .5s

            &:hover
                background $white
                color #30a7b7
                transition all ease .5s

    img
        display block
        alignment()
        margin-top 40px
        max-width 970px
        vertical-align middle
