<h1 ng-head ng-title>ECMAScript 6 - Destructuring</h1>

<span class="time">22 Şubat 2016</span>

<img alt="Angular" src="/img/static/posts/es6/es6.png">

<p ng-head ng-auto-description>ECMAScript 6 ile birlikte objelere (Object) ve dizilere (Array) Destructuring (Parçalama / Yıkım / Yapıbozum) özelliği geldi. Destructuring, veri yapısını küçük parçalara ayırma işlemidir. Genellikle objeleri ve dizileri tanımladıktan sonra işimize yarayan parçaları içlerinden çekip alırız ve kullanırız. ECMAScript 6 öncesinde bu işi nasıl yaptığımızı görelim.</p>

<p>Obje Örneği:</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    };

var isim = kisi.isim,
    soyisim = kisi.soyisim;
    </code>
</pre>

<p>Yukarıda <strong>kisi</strong> objesinden ilgili özelliklerin (property'lerin) değerlerini (value'larını) aldık ve değişkenlerde özellik ismi ile sakladık. Her ne kadar basit ve temiz gibi görünse de fazla özelliği olan büyük objelerde ve iç içe (nested) objeler barındıran yapılarda yukarıdaki kod biraz daha karmaşık ve fazla olacak.</p>

<p>Dizi Örneği:</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'];

var beyaz = renkler[0],
    gri = renkler[1];
    </code>
</pre>

<p>Dizi örneğinde de <strong>renkler</strong> dizisinden istediğimiz değerleri alıp değişkenlerde sakladık. Bu örnekte de yapılan iş basit gözülebilir ama aynı şekilde dizideki değer sayısı arttığında kod karmaşıklığı artacak ve kod fazlalaşacak.</p>

<h2>Objelerde Destructuring Kullanımı</h2>

<p>ECMAScript 6 ile artık tek satırda objenin içinden istediğimiz birden fazla özelliğin değerini alıp değişkenlere atayabiliyoruz. Obje Destructuring sözdizimini (syntax'ini) görelim.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    };

var {isim, soyisim} = kisi;

console.log(isim);      // 'Sercan'
console.log(soyisim);   // 'Eraslan'
    </code>
</pre>

<p>Yukarıda basit bir şekilde <strong>kisi</strong> objesinden <strong>isim</strong> ve <strong>soyisim</strong> özelliklerinin değerini aldık ve aynı isimlerle değişkenlere tanımlamış olduk. Yukarıdaki <strong>var {isim, soyisim} = kisi;</strong> satırı aslında aşağıdaki kodun kısa yazımıdır.</p>

<pre>
    <code class="language-javascript" prism>
var isim = kisi.isim,
    soyisim = kisi.soyisim;
    </code>
</pre>

<p>Not: Eğer kullanılacak objeyi vermeden <strong>var {isim, soyisim};</strong> yazarsanız <strong>syntax error</strong> (sözdizimi hatası) alırsınız.</p>

<h3>Tanımlanmış Değişkenlerde Destructuring Kullanımı</h3>

<p>Bir önceki örnekte yeni değişkenler tanımlayarak Destructuring yapmıştık. Peki ya önceden tanımlanmış bir değişkeni Destructuring yaparak kullanmak isterseniz ne olacak? Aşağıdaki kullanım ile önceden tanımlanmış olan değişkenlerin değerlerini sonradan değiştirebilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    },
    isim = 'Ecma',
    soyisim = 'Script';

console.log(isim);      // 'Ecma'
console.log(soyisim);   // 'Script'

({isim, soyisim} = kisi);

console.log(isim);      // 'Sercan'
console.log(soyisim);   // 'Eraslan'
    </code>
</pre>

<p>Normal Destructuring sözdizimini parantezler ile sarmalayarak ve herhangi bir tanımlama anahtar kelimesi (var, let, const) yazmadan kullandık ve mevcut <strong>isim</strong> ve <strong>soyisim</strong> değişikenlerinin değerini değiştirdik.</p>

<p>Not: Normalde açık süslü " { " parantez block statement (blok bir ifade) bekler ve block statement tanımlamaların sol tarafında olamaz. Süslü parantezden önce konulan normal parantez ise "Benden sonraki süslü parantez block statement olmayacak." demektir.</p>

<h3>Varsayılan Değer Tanımlama</h3>

<p>Eğer parçalanmak istenen objenin olmayan bir özelliğini almak isterseniz değişkenin değeri "undefined" olarak tanımlanacaktır.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    };

var {isim, soyisim, yas} = kisi;

console.log(isim);      // 'Sercan'
console.log(soyisim);   // 'Eraslan'
console.log(yas);       // undefined
    </code>
</pre>

<p><strong>kisi</strong> objesinin <strong>yas</strong> özelliği olmadığı için <strong>yas</strong> değişkenin değeri <strong>undefined</strong> oldu ancak eğer isterseniz olmayan özelliklere varsayılan bir değer tanımlayabilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    };

var {isim, soyisim, yas = 30} = kisi;

console.log(isim);      // 'Sercan'
console.log(soyisim);   // 'Eraslan'
console.log(yas);       // 30
    </code>
</pre>

<p>Yukarıda <strong>kisi</strong> objesinin <strong>yas</strong> özelliği olmadığı için varsayılan olarak <strong>yas</strong> değişkenine <strong>30</strong> değeri atandı. Eğer objede <strong>yas</strong> özelliği olsaydı, özelliğin değeri direkt olarak değişkene tanımlanacaktı.</p>

<h3>Farklı İsimle Destructuring Yapma</h3>

<p>Genellikle objelerin içindeki özellik isimleri düzgündür ve bu isimleri alarak değişkenlerin isimlerini tanımlarız ancak bazen çeşitli sebeplerle objenin özellik isminden farklı birşey kullanmak isteyebiliriz.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan'
    };

var {isim: ad, soyisim: soyad} = kisi;

console.log(ad);      // 'Sercan'
console.log(soyad);   // 'Eraslan'
    </code>
</pre>

<p>Yukarıdaki kod <strong>isim</strong> yerine <strong>ad</strong> değişkeni tanımladı ve <strong>soyisim</strong> yerine <strong>soyad</strong> değişkeni tanımladı. Böylece objenin içindeki özellik isimlerinden farklı değişkenler tanımlayabildik.</p>

<p>Farklı bir isimle Destructuring yaparkende varsayılan değer tanımlayabiliriz.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan'
    };

var {isim: ad, soyisim: soyad = 'Eraslan'} = kisi;

console.log(ad);      // 'Sercan'
console.log(soyad);   // 'Eraslan'
    </code>
</pre>

<p><strong>kisi</strong> objesinde <strong>soyisim</strong> özelliği olmadığı için ve <strong>soyisim</strong> yerine <strong>soyad</strong> kullan dediğimiz için <strong>soyad</strong> değişkenine varsayılan olarak <strong>Eraslan</strong> değeri atandı.</p>

<h3>İç içe Yapılarda Obje Destructuring Kullanımı</h3>

<p>Şimdiye kadar basit Destructuring'i gördük. Şimdi ise daha karmaşık yapıda olan iç içe obje Destructuring'ini görelim.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan',
        yetenekler: {
            kosu: {
                mesafe: '10 km'
            },
            yuruyus: {
                mesafe: '20 km'
            }
        }
    };

var { yetenekler: {kosu} } = kisi;

console.log(kosu.mesafe);      // '10 km'
    </code>
</pre>

<p>Normalde objenin özelliğini tanımlarken kullandığımız iki nokta üst üste "<strong>:</strong>" ve süslü parantezler "<strong>{ }</strong>" ile objenin iç katmanlarına inip Destructuring yapabiliyoruz. Böylece yukarıdaki sözdizimi ile <strong>kosu</strong> değişkenine <strong>kisi.yetenekler.kosu</strong> objesini tanımlayabildik.</p>

<h2>Dizilerde Destructuring Kullanımı</h2>

<p>Dizi Destructuring, Obje Destructuring ile çok benzer şekilde çalışır. Obje Destructuring'te olduğu gibi Dizi Destructuring'te de tek satırda dizinin içinden istediğimiz birden fazla değeri alıp değişkenlere atayabiliyoruz. Dizi Destructuring sözdizimini görelim.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'];

var [beyaz, gri] = renkler;

console.log(beyaz);    // 'white'
console.log(gri);      // 'gray'
    </code>
</pre>

<p>Yukarıdaki <strong>var [beyaz, gri] = renkler;</strong> satırı aslında aşağıdaki kodun kısa yazımıdır.</p>

<pre>
    <code class="language-javascript" prism>
var beyaz = renkler[0],
    gri = renkler[1];
    </code>
</pre>

<p>Obje Destructuring'te objenin özellik isimleriyle Destructuring yaparken Dizi Destructuring'te ise dizinin sırasıyla (index'iyle) Destructuring yapıyoruz. Yani <strong>beyaz</strong> değişkenine <strong>renkler</strong> dizisinin <strong>0.</strong> değeri tanımlanırken <strong>gri</strong> değişkenine ise dizinin <strong>1.</strong> değeri tanımlanmış oldu.</p>

<p>Bazı durumlarda bir veya birkaç tane değeri atlamanız gerekebilir, böyle bir durum olduğunda değişken adı yazmadan virgül ekleyerek devam edebilirsiniz. Ne kadar virgül varsa o kadar değeri atlamış olacaksınız.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'];

var [ , , siyah] = renkler;

console.log(siyah);    // 'black'
    </code>
</pre>

<p>Not: Böyle bir durumda yani dizinin bir değerini seçecekseniz eğer Destructuring yerine normal kullanımı yani <strong>var siyah = renkler[2];</strong> kullanımını tercih etmeniz kodunuzun okunabilirliğini açısından daha doğrudur.</p>

<h3>Tanımlanmış Değişkenlerde Destructuring Kullanımı</h3>

<p>Objelerde olduğu gibi dizilerde de önceden tanımlanmış olan değişkenlerin değerlerini sonradan değiştirebiliyoruz ama dizilerde parantez ile sarmalamaya ihtiyaç duymuyoruz.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'],
    beyaz = 'whitish',
    gri = 'grayish';

console.log(beyaz);    // 'whitish'
console.log(gri);      // 'grayish'

[beyaz, gri] = renkler;

console.log(beyaz);    // 'white'
console.log(gri);      // 'gray'
    </code>
</pre>

<p>Normal Destructuring sözdizimini herhangi bir tanımlama anahtar kelimesi (var, let, const) yazmadan kullandık ve mevcut <strong>beyaz</strong> ve <strong>gri</strong> değişikenlerinin değerini değiştirdik.</p>

<p>Dizi Destructuring'te özel bir kullanım var ve bu 2 değişkenin değerini değiş tokuş (swap) yapmaya imkan sağlıyor. ECMAScript 6 öncesi bunu nasıl yaptığımızı görelim.</p>

<pre>
    <code class="language-javascript" prism>
var a = 1,
    b = 2,
    tmp;

tmp = a;
a = b;
b = tmp;

console.log(a);    // 2
console.log(b);    // 1
    </code>
</pre>

<p>Dizi Destructuring'i kullanarak geçici bir dizi oluşturup dizinin değerlerini yer değiştiriyoruz ve değiş tokuş işlemini tek satırda tamamlamış oluyoruz.</p>

<pre>
    <code class="language-javascript" prism>
var a = 1,
    b = 2;

[a, b] = [b, a];

console.log(a);    // 2
console.log(b);    // 1
    </code>
</pre>

<h3>Varsayılan Değer Tanımlama</h3>

<p>Obje Destructuring'te olduğu gibi Dizi Destructuring'te de varsayılan değer tanımlanabiliyor. Eğer Destructuring kullanılmak istenen dizinin olmayan bir özelliğini almak isterseniz değişkenin değeri <strong>undefined</strong> olarak tanımlanacaktır.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white'];

var [beyaz, gri] = renkler;

console.log(beyaz);    // 'white'
console.log(gri);      // undefined
    </code>
</pre>

<p><strong>renkler</strong> dizisinin tek değere sahip olduğu için <strong>gri</strong> değişkeninin değeri <strong>undefined</strong> olarak tanımlandı. Şimdi de varsayılan değer tanımlamayı görelim.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white'];

var [beyaz, gri = 'gray'] = renkler;

console.log(beyaz);    // 'white'
console.log(gri);      // 'gray'
    </code>
</pre>

<p>Yukarıdaki örnekte <strong>renkler</strong> dizisi tek değere sahip olmasına rağmen varsayılan değer tanımlandığı için <strong>gri</strong> değişkeninin değeri <strong>gray</strong> oldu.</p>

<h3>İç içe Yapılarda Dizi Destructuring Kullanımı</h3>

<p>İç içe yapılarda nasıl Dizi Destructuring yapacağımızı görelim.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', ['gray', 'black'] ];

var [beyaz, [gri] ] = renkler;

console.log(beyaz);    // 'white'
console.log(gri);      // 'gray'
    </code>
</pre>

<p>Dizi Destructuring içerisinde köşeli parantezleri "<strong>[ ]</strong>" kullandığımızda bir boyut içeri gireriz ve istediğimiz değeri değişkenimize tanımlayabiliriz.</p>

<h3>Rest Öğeleri Kullanımı</h3>

<p>Rest öğeleri, "<strong>...</strong>" sözdizimini kullanarak dizide kalan değerlerin hepsini belirlenen değişkene dizi olarak atanmasını sağlar.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'];

var [beyaz, ...diger] = renkler;

console.log(beyaz);         // 'white'
console.log(diger.length);  // 2
console.log(diger[0]);      // 'gray'
console.log(diger[1]);      // 'blue'
    </code>
</pre>

<p>Yukarıdaki örnekte <strong>0.</strong> değer <strong>beyaz</strong> değişkenine <strong>renkler</strong> dizisinin kalan tüm değerleri ise <strong>diger</strong> değişkenine atandı.</p>

<p>Rest öğelerini dizinin bir klonunu almak için de kullanabilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
var renkler = ['white', 'gray', 'black'];

var [...klonRenkler] = renkler;

console.log(klonRenkler);       // "['white', 'gray', 'black']"
    </code>
</pre>

<h2>Karışık Destructuring Kullanımı<h2>

<p>Daha karmaşık ifadeler oluşturmak için Object ve Array Destructuring'i birlikte kullanabilirsiniz. Object ve Array'lerin birlikte kullanımı ile oluşmuş karmaşık ifadelerden istediğiniz bilgi parçalarını dışarı çıkarabilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
var kisi = {
        isim: 'Sercan',
        soyisim: 'Eraslan',
        yetenekler: {
            kosu: {
                mesafe: '10 km'
            },
            yuruyus: {
                mesafe: '20 km'
            }
        },
        renkler: ['mavi', 'beyaz', 'siyah']
    };

var { yetenekler: {kosu}, renkler: [ilkRenk] } = kisi;

console.log(kosu.mesafe);      // '10 km'
console.log(ilkRenk);          // 'mavi'
    </code>
</pre>

<p>Yukarıdaki kodda <strong>kisi.yetenekler.kosu</strong> objesi <strong>kosu</strong> isimli yeni bir değişkene atandı ve yine <strong>kisi</strong> objesinden <strong>renkler</strong> dizisinin ilk elemanı, <strong>ilkRenk</strong> isimli yeni bir değişkene atanmış oldu. Bu yaklaşım genellikle JSON tipindeki veri yapılarından bilgi çekerken kullanılır.</p>

<h3>Fonksiyonlarda Destructuring Kullanımı</h3>

<p>Destructuring'leri fonksiyonlara parametre geçerken kullanabiliyoruz. Eskiden bir fonksiyona büyük tanımlamalar/ayarlar (options) gönderdiğimizde kodumuz aşağıdaki gibi oluyordu.</p>

<pre>
    <code class="language-javascript" prism>
var arabaUret = function (marka, model, secenekler) {
        secenekler = secenekler || {};

        var vites = secenekler.vites,
            yakit = secenekler.yakit,
            jant = secenekler.jant,
            parkSensoru = secenekler.parkSensoru;

        // Burada arabayi yukaridaki seceneklerle ureten kod olacak
    };

arabaUret('audi', 'a3', {
    vites: 'otomatik',
    yakit: 'dizel',
    jant: 'çelik'
});
    </code>
</pre>

<p>Fonksiyonlara büyük tanımlamalar/ayarlar (options) göndermek tüm tanımları tek tek göndermekten daha iyi bir yaklaşımdır fakat fonksiyona giden ayarların tamamını görmek için fonksiyonun içini incelemek gerekir.</p>

<p>Destructuring'i kullanarak daha temiz bir yolla parametreleri fonksiyonlara gönderebiliriz ve gönderdiğimiz ayarların tamamını fonksiyonunun içini incelemeden görebiliriz.</p>

<pre>
    <code class="language-javascript" prism>
var arabaUret = function (marka, model, { vites, yakit, jant, parkSensoru }) {

        // Burada arabayi yukaridaki seceneklerle ureten kod olacak
    };

arabaUret('audi', 'a3', {
    vites: 'otomatik',
    yakit: 'dizel',
    jant: 'çelik'
});
    </code>
</pre>

<p>Parametre geçerken Destructuring kullandığımız için gereksiz yere yazılan kontrole ve tanımlamalara gerek kalmadı ve temiz bir fonksiyon içeriğine sahip olduk. Ayrıca fonksiyonun aldığı seçenekleri tek seferde görebildik. Eğer fonksiyonu çağırırken bir parametreyi yazmazsanız normalde de olduğu gibi parametre <strong>undefined</strong> değerini alır.</p>

<p>Şu ana kadar öğrendiğiniz tüm Destructuring özelliklerini fonksiyonlara parametre gönderirkende kullanabilirsiniz. Varsayılan olarak değer gönderme, Karmaşık Destructuring ve farklı değişken ismiyle objenin bir özelliğini alma gibi.</p>

<p>Not: Fonksiyonlarda Destructuring kullanırsanız fonksiyonu çağırırken objeyi göndermeniz gerekir, objeyi göndermezseniz hata alırsınız. Eğer isterseniz hata almamak için varsayılan değerler tanımlayabilirsiniz.</p>
