<h1 ng-head ng-title>Neden Custom Select Kullanmamalıyız?</h1>

<span class="time">29 Ocak 2016</span>

<img alt="Custom Select" src="/img/static/posts/select/goodBadUgly.png">

<p ng-head ng-auto-description>Yıllardır farklı kişilerle farklı ortamlarda "Native Select mi yoksa Custom Select mi?" tartışmaları bıkmadan usanmadan tekrar tekrar yapıldı ve yapılmaya devam ediyor. Bir sürü Front-End'çi ile tasarımcının arası bu tartışmalar sebebiyle açıldı. Kimi İyi'yi, kimi Kötü'yü kimi de Çirkin'i savundu. Artık bu tartışmalar yapılmasın, vaktimiz boşa harcanmasın diye bu makalede Select seçeneklerini, avantajlarını ve dezavantajlarını inceleyeceğiz. Makaleyi okuduktan sonra doğru tercihi yapacağınızı umuyorum :)</p>

<p>Öncelikle seçeneklerimizi görelim/tanıyalım.</p>

<h2>Native Select (The Ugly)</h2>

<p>Tarayıcıların bize bir çok özellik ile birlikte verdiği yerleşik bir HTML elemanıdır. Ekstradan CSS ve JavaScript yazmaya gerek kalmadan çalışır. Her türlü durumu tarayıcı kendisi kontrol eder (Elemena tıklayınca menüyü göstermesi, seçeneklerden birini seçince otomatik seçili yapması ve ardından menüyü kapatması vb.). Oldukça hızlı çalışır.</p>

<div codepen cp-user="sercaneraslan" cp-slug-hash="OMmmOW" cp-height="250"></div>

<h2>Custom Select (The Bad)</h2>

<p>Herşeyin sıfırdan yazıldığı ve her türlü durumun bizim tarafımızdan ekstra kod yazılarak kontrol edildiği seçenektir. Oldukça fazla HTML, CSS ve JavaScript kodu gerektirir ve performans problemi yaratır.</p>

<div codepen cp-user="sercaneraslan" cp-slug-hash="RrVVqG" cp-height="250"></div>

<h2>Hybrid Select (The Good)</h2>

<p>Native Select elemanını ve özelliklerini kullanmaya devam ederken elemanın görünümünü istediğimiz şekilde değiştirebileceğimiz seçenektir. Ekstradan görünüm için biraz CSS yazılır ama JavaScript yazılması gerekmez.</p>

<div codepen cp-user="sercaneraslan" cp-slug-hash="WrjjdZ" cp-height="250"></div>

<p>Not: Hybrid seçeneğinde label etiketi koymadan Select elemanına arkaplan görseli ekleyerekte aynı görünüm elde edilebilir fakat ben görsel yüklemek yerine bu yöntemi tercih ettim.</p>

<h2>Avantajlar ve Dezavantajlar</h2>

<p>Seçeneklerimizi gördük, şimdi de Custom Select kullanmanın avantajlarını ve dezavantajlarını inceleyelim.</p>

<h3>Custom Select Kullanmanın Avantajları</h3>

<ul>
    <li>Görünümü değiştirebilmek ve açılan menünün tasarlanabilmesi.</li>
    <li>Ekstra işlevler ekleyebilmek.</li>
</ul>

<h3>Custom Select Kullanmanın Dezavantajları</h3>

<ul>
    <li><strong>Mobil Tarayıcılar</strong>
        <ul>
            <li>Tarayıcılar Native Select elemanlarını kullanılan cihazlara uyumlu hale getirirler. Custom Select'lere normal bir menü listesi gibi davranılır ve içinden seçim yapmak oldukça zordur. <a href="/img/static/posts/select/custom.jpg" target="_blank">İncelemek için tıklayınız.</a></li>
            <li>Mobil tarayıcılar dokunulan Native Select'e otomatik odaklanır ve zoom yapar. Ayrıca seçimin kolay yapılabilmesi için büyük bir varsayılan menü açılır. <a href="/img/static/posts/select/native.jpg" target="_blank">İncelemek için tıklayınız.</a></li>
        </ul>
    </li>

    <li><strong>Erişilebilirlik</strong>
        <ul>
            <li>Örneğin Custom Select'ler görme engellelilerin kullandığı uygulamalar tarafından bir form elemanı olarak algılanmaz. Normal bir menü listesi olarak algılanır ve bu durum görme engellileri zor bir duruma sokar.</li>
        </ul>
    </li>

    <li><strong>Performans</strong>
        <ul>
            <li>Tarayıcının bize verdiği özelliklerin hiçbirini kullanamayacağımız ve her bir özelliği tek tek kodlayacağımız için tarayıcı üzerindeki performansımız düşer. Daha önce bu durumu tecrübe etmiştik ve Custom Select'leri Native Select'lere geri çevirmiştik.</li>
        </ul>
    </li>

    <li><strong>Tarayıcının Verdiği Özellikler</strong> (Kullanıcıların alışmış olduğu standartları sağlamak için aşağıdaki maddeleri ayrı ayrı kodlamanız gerekir.)

        <ul>
            <li>Tab tuşuna basıldığında bir sonraki form elemanına gidemezsiniz.</li>
            <li>Space tuşuna basıldığında menü açılmaz.</li>
            <li>Escape tuşuna basıldığında menü kapanmaz.</li>
            <li>Yukarı/Aşağı okları ile menüde gezilemez.</li>
            <li>Select Menü açıkken klavyeden S'ye (herhangi bir harfe) bastığınızda, S ile başlayan maddeye/maddelere gidemezsiniz.</li>
            <li>Select Menü açılırken konumu otomatik belirtemezsiniz (Normalde açılan menü tarayıcı sınırına dayanırsa diğer yöne açılır).</li>
            <li>Select Menü kendisi dışında bir yere tıklanınca otomatik kapanmaz. (Bunu yapabilmek için sayfadaki bütün click eventlerini dinlemek gerekir.)</li>
            <li>Menüden tıkladığınız elemanı otomatik olarak seçili yapamazsınız.</li>
        </ul>
    </li>

    <li><strong>HTML5 Form Validation</strong>
        <ul>
            <li>HTML5 ile gelen form validation'ı kullanamazsınız, hata olursa kendiniz kontrol etmeniz gerekir.</li>
        </ul>
    </li>

    <li><strong>Kütüphaneler</strong>
        <ul>
            <li>Kullandığınız kütüphanelerden (Angular, React vs.) Select elemanları için gelen ekstra özellikleri kullanamazsınız.</li>
        </ul>
    </li>

    <li><strong>Standartlara Uygunluk</strong>
        <ul>
            <li>Standartlara uygun bir şekilde kod yazılmamış olacak. (Doğru eleman kullanılmamış olacak.)</li>
        </ul>
    </li>

    <li><strong>Daha Fazla Kod</strong>
        <ul>
            <li>Normal kullanıma göre çok çok daha fazla kod yazmamız gerekecek ve bu da performans sorununu tetikleyecektir.</li>
        </ul>
    </li>

    <li><strong>SEO</strong>
        <ul>
            <li>SEO üzerine kanıtlanmış bir etkisi var mı bilmiyorum ama arama motorlarının Select elemanlarını göz ardı ettiğini ve bu sayede daha hızlı indexlediğini düşünüyorum. Custom Select'leri normal bir menü listesi gibi göreceği için indexlemek isteyecektir ve belki indexlemenin daha uzun sürmesine sebep olacaktır. Detaylı incelemek gerekebilir.</li>
        </ul>
    </li>
</ul>

<h2>Peki Diğer Büyük Siteler Ne Yapıyor?</h2>

<ul>
    <li><strong>Apple</strong> (Usability konusunda kesinlikle örnek alınması gereken firma)
        <ul>
            <li>Tüm form elemanları Native.</li>
        </ul>
    </li>

    <li><strong>Twitter</strong>
        <ul>
            <li>Her yerde Native Select ve Tooltip Menü tercih edilmiş.</li>
            <li>Diğer form elemanları Native (Radio ve Input'lar).</li>
        </ul>
    </li>

    <li><strong>Facebook</strong>
        <ul>
            <li>Select elemanı göremedim, genelde Açılır Menü ve Tooltip Menü tercih edilmiş.</li>
            <li>Diğer form elemanları Native (Radio ve Input'lar).</li>
        </ul>
    </li>

    <li><strong>Ebay</strong>
        <ul>
            <li>Birçok yerde Native Select, bir kaç yerde Hybrid Select ve Açılır Menü tercih edilmiş.</li>
            <li>Diğer form elemanları Native (Radio ve Input'lar).</li>
        </ul>
    </li>

    <li><strong>Booking</strong>
        <ul>
            <li>Tüm form elemanları Native.</li>
        </ul>
    </li>
</ul>

<h2>Sonuç</h2>

<p>Yukarıdaki dezavantajlardan dolayı Custom Select'i tercih etmek mantıklı bir seçim olmaz.</p>

<p>Benim kişisel önerim, Apple'ın da tercih ettiği gibi Native Select'in tercih edilmesi yönünde. Eğer Select elemanlarının yeniden tasarlığında eskisine göre daha faydalı olduğu birkaç durum varsa o zaman Hybrid kullanımını tercih edebilirsiniz.</p>

<p>Bu makalede olmasını/düzeltilmesini istediğiniz maddeler olursa mail atabilirsiniz ya da yorum alanını kullanabilirsiniz.</p>

<p>Bu tartışmaların artık yapılmadığı bir dünya dileğiyle..</p>
