<h1 ng-head ng-title>Sitenizi Github Üzerinde Ücretsiz Barındırın</h1>

<span class="time">12 Ocak 2015</span>

<img alt="Github" src="/img/static/posts/github/github-pages.png">

<p ng-head ng-auto-description>Bu yazıda HTML, CSS ve JavaScript ile hazırlanmış web sitesini hosting/barındırma ücreti ödemeden <a href="https://github.com/">Github</a> aracılığıyla ve kendi domaininiz/alan adınız üzerinden nasıl yayımlayabileceğinizi anlatmaya çalışacağım.</p>

<h3>Github Reposu Oluşturma</h3>

<p>Öncelikle Github kullanıcı adınız ile başlayacak şekilde ve ".github.io" diye devam eden bir repo/depo oluşturun. Örneğin, "kullaniciadi.github.io".</p>

<h3>Dosyaları Ekleme</h3>

<p>HTML, CSS ve JavaScript dosyalarınızı oluşturduğunuz repoya ekleyin.</p>

<h3>CNAME Ekleme</h3>

<p>Reponuza "CNAME" adında uzantısı olmayan bir dosya ekleyin. Birinci satıra kodlarınızı hangi URL'den sunacağınızı yazın, ikinci satıra ise birinci satırda bulunan URL'e yönlenmesini istediğiniz URL'i yazın.</p>

<p>Örneğin aşağıdaki satırlar, bu reponun "siteadi.com"da çalışacağını ve "www.siteadi.com"a gelen istekleri "siteadi.com"a yönlendireceğini belirtiyor.</p>

<pre>
    <code class="language-javascript" prism>
siteadi.com
www.siteadi.com
    </code>
</pre>

<p>Not: Eğer sitenizi "www.siteadi.com" şeklinde kullanacaksanız "siteadi.com" alanını silebilirsiniz.</p>

<h3>DNS Kayıtları</h3>

<p>Domaini aldığınız firmanın siteninden "DNS" ayarlarının yapıldığını alana geliniz.</p>

<p>Not: Eğer sitenizi "www.siteadi.com" şeklinde kullanacaksanız aşağıdaki "CNAME" kaydı ekleme adımı atlayın ve aşağıdaki "siteadi.com" yazan yerleri "www.siteadi.com" şeklinde değiştirin.</p>

<ul>
    <li>"A" tipinde bir kayıt ekleyin. Domain adı "siteadi.com" olmalı, IP adresi ise "192.30.252.153" olmalı.</li>
    <li>Tekrar "A" tipinde bir kayıt ekleyin. Domain adı yine "siteadi.com" olmalı, IP adresi ise "192.30.252.154" olmalı. Burada ki IP adresleri <a href="https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider/">Github Help</a>'te yayımlanan IP adresleridir.</li>
    <li>"CNAME" tipinde bir kayıt ekleyin. Domain adı "www.siteadi.com", CNAME değeri ise "siteadi.com" olmalı. Bazı firmalar domain adı alanının sonuna otomatik olarak ".siteadi.com" ekleyebiliyor dikkat edin.</li>
</ul>

<p>Domaini aldığınız firmaya bağlı olarak eklediğiniz kayıtların aktif hale gelmesi 24 saat ya da daha fazla sürebilir, endişelenmeyin.</p>

<p>Konsoldan aşağıdaki komutu çalıştırarak IP adreslerinin değişip değişmediğine bakabilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
dig siteadi.com +nostats +nocomments +nocmd
    </code>
</pre>

<p>IP adresleriniz değiştikten sonra "siteadi.com"a girdiğinizde "kullaniciadi.github.io" adlı reponuzda bulunan kodlarınız çalışmaya başlayacaktır.</p>

<p>Yeni bir URL eklemek istediğinizde reponuza o isimde bir klasör ekleyip içine "index.html" dosyası eklemeniz gerekmektedir. Eğer Single Page Application (Tek Sayfa Uygulama) kullanıyorsanız önceden yazmış olduğum <a href="https://github.com/sercaneraslan/grunt-github-pages-foldering">Grunt Github Pages Foldering</a> Grunt eklentisini kullanabilirsiniz. Bu eklenti ile tanımladığınız URL'ler için sizin yerinize otomatik olarak klasörleri ekleyecek ve içlerine tanımladığınız Single Page Application dosyanınızı ekleyecek.</p>

<p>Not: Unutmayın, "kullaniciadi.github.io" adıyla repo açıp onu kendi domaininize yönlendirdiğiniz zaman diğer repolarınızdaki Github Pages ile hazırlanan sayfalar sizin domaniniz altında yayımlanacak.</p>

<p>Örneğin, "sercaneraslan.github.io" isimli repomu "sercaneraslan.com"a yönlendirdim diyelim. "genius" adındaki diğer repomunda Github Pages ile hazırlanmış bir sayfası olduğunu varsayalım. "sercaneraslan.com/genius" adresine gittiğimde "genius" isimli repoda çalışan Github Pages sayfası ile karşılacağım.</p>

<p>Not 2: Ekleyeceğiniz görsellerin boyutunun büyük olmadığına emin olun çünkü Github üzerinden büyük olan görseller yavaş yüklenebiliyor.</p>

<p>Adımları doğru şekilde uyguladıysanız ücretsiz barındırma hizmetinizin tadını çıkartabilirsiniz :)</p>

<p>Ayrıca Github Pages'ın desteklediği <a href="http://jekyllrb.com/">Jekyll</a>'i kullanarakta istediğiniz tarzda statik siteler oluşturup Github Pages üzerinden yayımlayabilirsiniz.</p>
