<h1 ng-head ng-title>Sublime Text'i Etkin Kullanma</h1>

<span class="time">20 Mayıs 2014</span>

<img alt="Sublime Text" src="/img/static/posts/sublime/sublime.png">

<p ng-head ng-auto-description>Yazılımcıların yıllardır sürdürdüğü editör kavgalarını bilmeyeniniz yoktur. Herkes kendi kullandığı editörü savunur, karşılıklı editör özellikleri yarıştırılır ve bu bitmek bilmeyen tartışma uzar, uzar, uzar…</p>

<p>İşte <a href="http://www.sublimetext.com/">Sublime Text</a> de, her ne kadar 2007 yılından beri geliştiriliyor olsa da geçtiğimiz birkaç yıl içinde yazılımcıların tartışır olduğu editörler arasında yerini aldı.</p>

<p>Peki Sublime Text bu tartışılan editörler arasına hangi özellikleriyle girmeyi başardı?</p>

<ul>
    <li>Hızlılık,</li>
    <li>Stabillik,</li>
    <li>Sadelik,</li>
    <li>Özelleştirilebilme,</li>
    <li>Çoklu düzenleme / Çoklu seçim,</li>
    <li>Eklenti / Paket desteği,</li>
    <li>Dosyalar / Projeler arası hızlı gezinme,</li>
    <li>Komut Paleti (Command Pallette),</li>
    <li>Bütün işletim sistemlerine uyumluluk,</li>
    <li>Pencere yönetimi,</li>
    <li>Snippet’lar</li>
</ul>

<p>öne çıkan özellikleri arasında. Şimdi detaylara inelim.</p>

<h2>Kullanıcı Ayarları</h2>

<p>Sublime Text, kullanıcılara özel ayarlamalar yapma imkanı tanıyor. Örneğin, sayfada yatay scroll çıkmasını istemiyorsanız sırasıyla <strong>“Sublime Text &gt; Preferences &gt; Settings - User”</strong> menüsüne tıklayarak <strong>“word_wrap”: true</strong> tanımını ekleyebilirsiniz. Aşağıda benim kullandığım ayarları göreceksiniz. Diğer tanımlanabilen özellikleri görmek için de <strong>“Sublime Text &gt; Preferences &gt; Settings - Default”</strong> menüsüne göz atabilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
{
    // Tema
    "theme": "predawn.sublime-theme",

    // Tema - Syntax
    "color_scheme": "Packages/User/predawn (SL).tmTheme",

    // Tema - Varsayilan Sidebar
    "sidebar_default": true,

    // Tema - Kucuk Tabler
    "tabs_small": true,

    // Line Endingi default olarak unix yapar.
    "default_line_ending": "unix",

    // Degisiklik kaydedildiginde sayfanin en altina (yoksa eger) otomatik olarak bos satir ekler.
    "ensure_newline_at_eof_on_save": true,

    // Sayfadan odaginizi kaybettiginiz anda sayfa kaydedilir.
    "save_on_focus_lost": true,

    // Tableri otomatik olarak bosluk yapar.
    "translate_tabs_to_spaces": true,

    // Sidebardan dosyaya tiklayinca otomatik olarak onizleme yapmasini iptal eder.
    "preview_on_click": false,

    // Yatay scroll cikmasini engeller.
    "word_wrap": true,

    // Scroll hizini arttirir.
    "scroll_speed": 5.0,

    // Sayfanın en altini kolay okuyabilmek icin fazladan bos alan birakir.
    "scroll_past_end": true,

    // Klasor isimlerinin kalin olmasini saglar.
    "bold_folder_labels": true,

    // Imlecin bulundugu satiri highlight eder.
    "highlight_line": true,

    // Icerigi degistirilmis tableri highlight eder.
    "highlight_modified_tabs": true
}
    </code>
</pre>

<h2>Kısayol Ekleme</h2>

<p>Kendinize özgü kısayollar eklemek için <strong>“Sublime Text &gt; Preferences &gt; Key Bindings - User”</strong> a tıklayarak kısayol ekleme dosyasını açabilirsiniz. Nesnenin <strong>“keys”</strong> özelliğine kısayol tuş kombinasyonu ve <strong>“command”</strong> özelliğine de çalıştırılacak metod tanımlanır.</p>

<pre>
    <code class="language-javascript" prism>
[
    {
        "keys": ["ctrl+shift+n"],
        "command": "new_window"
    }
]
    </code>
</pre>

<p>Yukarıdaki tanım, <strong>“Ctrl + Shift + N”</strong> tuşlarına basıldığında <strong>“new_window”</strong> metodunu çalıştıracak yani yeni bir Sublime Text sayfası açacak.</p>

<p><strong>İpucu:</strong> Tüm metodları görmek için <strong>“Sublime Text &gt; Preferences &gt; Key Bindings - Default”</strong>a bakabilirsiniz.</p>

<h2>Kısayol Olarak Snippet Ekleme</h2>

<p>Snippet’lar, hazır kod parçalarıdır. Kısayol ekleme işleminde yaptığımız gibi <strong>“Sublime Text &gt; Preferences &gt; Key Bindings - User”</strong> dosyasına aşağıdaki ekleme yapılır. <strong>“insert_snippet”</strong> metodu sayesinde <strong>“Ctrl + Shift + C”</strong> tuşlarına bastığımızda sayfamıza <strong>console.log();</strong> içeriği eklenecek ve imleç <strong>$1</strong> ile tanımladığımız değişken alana odaklanmış olacak. Bu sayede <strong>console.log();</strong> methodunun direk parametresini yazabilir durumda olacağız.</p>

<pre>
    <code class="language-javascript" prism>
[
    {
        "keys": ["ctrl+shift+n"],
        "command": "new_window"
    }, {
        "keys": ["ctrl+shift+c"],
        "command": "insert_snippet",
        "args": {
            "contents": "console.log($1);"
        }
    }
]
    </code>
</pre>

<p>Birden fazla değişken alan kullanmak istediğinizde <strong>$1,$2,$3</strong> gibi değişken alanlar tanımlayabilirsiniz. İlk değişken alanı yazdıktan sonra <strong>Tab</strong> tuşuna basarsanız otomatik olarak sıradaki değişken alana odaklanmış olacaksınız.</p>

<h2>Ayrı Dosya Olarak Snippet Ekleme</h2>

<p>Daha büyük kod parçaları kullanmak isterseniz ayrı dosya olarak Snippet eklemeyi kullanabilirsiniz. <strong>“Sublime Text &gt; Tools &gt; New Snippet”</strong> menüsü seçilir. Dosya aşağıda ki gibi değiştirilir.</p>

<pre>
    <code class="language-markup" prism>
&lt;snippet&gt;
    &lt;content&gt;
        &lt;![CDATA[
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
        &lt;title&gt;$1&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;$1&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;
        ]]&gt;
    &lt;/content&gt;
    &lt;tabTrigger&gt;html5&lt;/tabTrigger&gt;
    &lt;scope&gt;source.html&lt;/scope&gt;
&lt;/snippet&gt;
    </code>
</pre>

<p>Snippet’larda 3 alan vardır. <strong>“content”</strong>, <strong>“tabTrigger”</strong> ve <strong>“scope”</strong>.</p>

<p><strong>content:</strong> Hazır kod parçalarımızı bu etiket içerisinde tutacağız. <strong>“Kısayol Olarak Snippet Ekleme”</strong> başlığında anlattığımız gibi burada da değişken alanlar kullanılabiliyor.</p>

<p><strong>tabTrigger:</strong> Hazır kod parçasını kullanmak isteğimizde kullanacağımız anahtar kelimeyi (<strong>html5</strong>) bu alana yazıyoruz.</p>

<p><strong>scope:</strong> Burada hazır kodumuzun hangi alanlarda kullanabileceğini belirtiyoruz. <strong>scope</strong> etiketini eklemezsek her dosyada kullanabiliriz. Örneğin sadece HTML’de ya da JavaScript dosyalarında kullanmak istiyorsak <strong>source.html</strong> ya da <strong>source.javascript</strong> dememiz yeterli olacaktır.</p>

<p>Snippet’i kaydetmek istediğimizde Sublime Text bize <strong>“Packages &gt; User”</strong> klasörünü öneriyor, Snippet’imizi bu klasör altına <strong>“.sublime-snippet”</strong> uzantısı ile kaydediyoruz. Örneğin, <strong>html5.sublime-snippet</strong>. Artık tek yapmamız gereken bir dosya açıp <strong>html5</strong> yazıp <strong>Tab</strong> tuşuna basmak.</p>

<p>Benim kullandığım Snippet’ları <a href="https://github.com/sercaneraslan/dotfiles/tree/master/sublime-text-3/snippet">github hesabımdaki dotfiles deposundan</a> inceleyebilirsiniz.</p>

<p><strong>Not:</strong> scope alanını eklediyseniz snippet’ınız sadece ilgili alanda çalışacaktır.
<strong>Not 2:</strong> Snippet eklediğiniz halde snippet’ı çalıştıramıyorsanız Sublime Text’i kapatıp tekrar açmanızı öneririm.</p>

<h2>Paket Yükleme (Plug-in / Eklenti)</h2>

<p>Öncelikle <strong>“Sublime Package Control”</strong>ü yükleyeceğiz. <strong>“Sublime Text &gt; View &gt; Show Console”</strong>u açıyoruz. Sonra aşağıdaki uzun kodu Console’a yapıştırıp <strong>“Enter”</strong>a basıyoruz.</p>

<pre>
    <code class="language-javascript" prism>
import urllib.request,os,hashlib; h = '7183a2d3e96f11eeadd761d777e62404' + 'e330c659d4bb41d3bdf022e94cab3cd0'; pf = 'Package Control.sublime-package'; ipp = sublime.installed_packages_path(); urllib.request.install_opener( urllib.request.build_opener( urllib.request.ProxyHandler()) ); by = urllib.request.urlopen( 'http://sublime.wbond.net/' + pf.replace(' ', '%20')).read(); dh = hashlib.sha256(by).hexdigest(); print('Error validating download (got %s instead of %s), please try manual install' % (dh, h)) if dh != h else open(os.path.join( ipp, pf), 'wb' ).write(by)
    </code>
</pre>

<p>Bir süre bekledikten sonra <strong>“Sublime Package Control”</strong> kurulmuş oluyor.</p>

<p><strong>“Cmd + Shift + P”</strong> tuş kombinasyonuyla <strong>“Command Pallette”</strong>i açıp <strong>“Package Control”</strong> yazıyoruz ve yüklediğimiz özellikler listeleniyor.</p>

<p>Yeni bir paket yüklemek istediğinizde <strong>“Package Control: Install Package”</strong>, yüklediğiniz paketi silmek için <strong>“Package Control: Remove Package”</strong>, paket listenizi görmek için ise <strong>“Package Control: List Package”</strong>ı kullanabilirsiniz.</p>

<p><strong>“Package Control: Install Package”</strong>ı seçtikten sonra biraz bekliyoruz ve tüm paketler listeleniyor. Buradan istediğimiz paketi arayıp/seçip <strong>“Enter”</strong> ile yükleyebilirsiniz.</p>

<p><strong>İpucu:</strong> <strong>“Cmd + Shift + P”</strong> tuş kombinasyonu ile Sublime Text’in tüm özelliklerine kısayoldan ulaşabilirsiniz.</p>

<h2>Paketler (Plug-in’ler / Eklentiler)</h2>

<p>Paketler, Sublime Text’in en güzel özelliklerinden biri. Aşağıda benim kullandığım ve tavsiye ettiğim paketleri göreceksiniz. Tüm paketleri detaylı olarak <a href="https://sublime.wbond.net/">Package Control’ün yazarına ait siteden</a> inceleyebilirsiniz.</p>

<ul>
    <li><strong><a href="https://sublime.wbond.net/packages/Git">Git</a></strong> - Git özelliklerini Sublime üzerinde kullanmanıza imkan verir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/GitGutter">Git Gutter</a></strong> - Açık olan dosyanın master’dan farklı olan kısımlarını gösterir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/BracketHighlighter">BracketHighlighter</a></strong> - Açılıp kapanan ‘[]’, ‘{}’, ‘()’ benzeri karakterler üzerine tıklandığında sol tarafta karakterler nerede başlamış, nerede bitmiş gösterir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/SublimeLinter">SublimeLinter</a></strong> - Hataları, fazladan konulan boşlukları vs gösterir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/AutoFileName">AutoFileName</a></strong> - Path yazılan alanlarda (Örn: background: url(‘/image/’); ) bilgisayardaki path hiyerarşisini kullanmaya imkan verir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/Inc-Dec-Value">Inc-Dec-Value</a></strong> - Değeri değiştirilebilen alanlarda Debug Tool’larda olduğu gibi aşağı-yukarı oklarla değerleri değiştirmeye imkan verir. (Alt tuşuna basarak aşağı yukarı okları ile hareket ederek deneyebilirsiniz.)</li>
    <li><strong><a href="https://sublime.wbond.net/packages/Pretty%20JSON">Pretty JSON</a></strong> - JSON formatındaki verileri girintilemek için “Cmd + Ctrl + J” tuş kombinasyonu ile kullanılır.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/Alignment">Alignment</a></strong> - Seçili alanda “Ctrl + Alt + A” tuş kombinasyonuyla kod hizalamaya imkan verir. </li>
    <li><strong><a href="https://sublime.wbond.net/packages/Can%20I%20Use">Can I Use</a></strong> - Seçili alandaki kelimeyi “Cmd + Alt + F” tuş kombinasyonuyla ‘caniuse.com’ sitesinde açar.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/SideBarEnhancements">Sidebar Enhancements</a></strong> - Sublime’ın sidebar üzerinde sağ tıklayınca açılan menüsüne yeni özellikler ekler. </li>
    <li><strong><a href="https://sublime.wbond.net/packages/YUI%20Compressor">YUI Compressor</a></strong> - “Cmd + B” tuş kombinasyonuyla CSS ve JavaScript sayfalarını sıkıştırabilirsiniz.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/Stylus">Stylus</a></strong> - Stylus Syntax’ını ekler.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/LiveReload">Live Reload</a></strong> - Tarayıcı extension’larıyla yazılan kodun anında tarayıcıda gözükmesine imkan verir.</li>
</ul>

<h3>Snippets</h3>

<ul>
    <li><strong><a href="https://sublime.wbond.net/packages/Emmet">Emmet</a></strong> - HTML/CSS snippet’larını ekler. Detaylar için <a href="http://docs.emmet.io/cheat-sheet/">emmet websitesine</a> bakabilirsiniz.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/AngularJS%20Snippets">AngularJS Snippets</a></strong> - Angular.js snippet’larını ekler.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/Nodejs">Nodejs</a></strong> - Node.js snippet’larını ekler. “fs” yazdıktan sonra “Ctrl + Space” tuş kombinasyonu ile kullanılabilenecek methodlar görüntülenir.</li>
    <li><strong><a href="https://sublime.wbond.net/packages/jQuery">jQuery</a></strong> - jQuery snippet’larını ekler.</li>
</ul>

<h3>Temalar</h3>

<ul>
    <li>
        <strong>
            <a href="https://github.com/jamiewilson/predawn">
                Predawn
                <img alt="Predawn" src="/img/static/posts/sublime/predawn.png" width="605">
            </a>
        </strong>
    </li>
    <li>
        <strong>
            <a href="https://sublime.wbond.net/packages/Theme%20-%20Flatland">
                Flatland
                <img alt="Flatland" src="/img/static/posts/sublime/flatland.png" width="605">
            </a>
        </strong>
    </li>
    <li>
        <strong>
            <a href="https://sublime.wbond.net/packages/Theme%20-%20Phoenix">
                Phoenix
                <img alt="Phoenix" src="/img/static/posts/sublime/phoenix.png" width="605">
            </a>
        </strong>
    </li>
    <li>
        <strong>
            <a href="https://sublime.wbond.net/packages/Theme%20-%20Spacegray">
                Spacegray
                <img alt="Spacegray" src="/img/static/posts/sublime/spacegray.png" width="605">
            </a>
        </strong>
    </li>
</ul>

<h2>Kısayollar</h2>

<p>Kısayollar, Sublime Text’i etkin kullanabilmemiz için olmazsa olmazlardan. Çünkü kısayollar ile birçok işimizi fare kullanmadan ve menülerde gezinmeden hızlı bir şekilde halledebiliyoruz.</p>

<h3>Gezinme</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + P</td>
            <td>Dosya açmak için kullanılır.</td>
        </tr>
        <tr>
            <td>Cmd + R</td>
            <td>Dosya içindeki sembollere ulaşır. (fonksiyon, class vb.)</td>
        </tr>
        <tr>
            <td>Cmd + G</td>
            <td>Belirtilen satır numarasına gider.</td>
        </tr>
    </tbody>
</table>

<h3>Genel</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + Shift + P</td>
            <td>Komut paletini açar. (Command Pallette)</td>
        </tr>
        <tr>
            <td>Cmd + K + B</td>
            <td>Side Bar’ı açar / kapar.</td>
        </tr>
    </tbody>
</table>

<h3>Bul/Değiştir</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + F</td>
            <td>Ara</td>
        </tr>
        <tr>
            <td>Cmd + Alt + F</td>
            <td>Değiştir</td>
        </tr>
        <tr>
            <td>Cmd + Shift + F</td>
            <td>Side Bar’da açık olan dosya ya da projeler içerisinde arar.</td>
        </tr>
    </tbody>
</table>

<h3>Tablar</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + Shift + T</td>
            <td>Son kapatılan tabı açar.</td>
        </tr>
        <tr>
            <td>Cmd + [NUM]</td>
            <td>Tab’lerde tab sıralarıyla gezinme. [1-9]</td>
        </tr>
    </tbody>
</table>

<h3>Pencereleri Bölme</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + Alt + 1</td>
            <td>Sayfayı tek sütun yapar.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + 2</td>
            <td>Sayfayı 2 sütun yapar.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + 3</td>
            <td>Sayfayı 3 sütun yapar.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + 4</td>
            <td>Sayfayı 4 sütun yapar.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + 5</td>
            <td>Sayfayı grid olarak 4 parçaya böler.</td>
        </tr>
        <tr>
            <td>Ctrl + [NUM]</td>
            <td>Pencereler arasında gezinme. [1-4]</td>
        </tr>
        <tr>
            <td>Ctrl + Shift + [NUM]</td>
            <td>Penceredeki içeriği başka pencereye taşır. [1-4]</td>
        </tr>
    </tbody>
</table>

<h3>Bookmark</h3>

<p>Satırlara işaret ekleyerek hızlı gezinme sağlar.</p>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + Fn + F2</td>
            <td>Üzerinde bulunulan satıra bookmark ekler/kaldırır.</td>
        </tr>
        <tr>
            <td>Fn + F2</td>
            <td>Bir sonraki bookmark’a gider.</td>
        </tr>
        <tr>
            <td>Shift + Fn + F2</td>
            <td>Bir önceki bookmark’a gider.</td>
        </tr>
        <tr>
            <td>Cmd + Fn + Shift + F2</td>
            <td>ütün bookmark’ları temizler.</td>
        </tr>
    </tbody>
</table>

<h3>İçerik Manipülasyonu</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cmd + K + U</td>
            <td>Seçilen metinleri büyük harfe çevirir.</td>
        </tr>
        <tr>
            <td>Cmd + K + L</td>
            <td>Seçilen metinleri küçük harfe çevirir.</td>
        </tr>
    </tbody>
</table>

<h3>Düzenleme</h3>

<table>
    <thead>
        <tr>
            <th>Kısayol</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alt</td>
            <td>Alt tuşuna basılı tutarak imleci yukarı ya da aşağıya sürükleyerek birden fazla satırda (hepsi aynı sütunda olmak üzere) düzenleme yapabilirsiniz.</td>
        </tr>
        <tr>
            <td>Cmd + D</td>
            <td>Her basımda seçili olan kelimenin aynısını yakalar ve çoklu düzenleme imkanı sağlar.</td>
        </tr>
        <tr>
            <td>Cmd + Click</td>
            <td>Tıklanan yerlere imleç ekler.</td>
        </tr>
        <tr>
            <td>Cmd + Shift + L</td>
            <td>Seçilen satırların sonuna imleç ekler.</td>
        </tr>
        <tr>
            <td>Cmd + C</td>
            <td>Hiçbirşey seçilmediğinde imlecin bulunduğu satırı kopyalar.</td>
        </tr>
        <tr>
            <td>Cmd + X</td>
            <td>Hiçbirşey seçilmediğinde imlecin bulunduğu satırı keser.</td>
        </tr>
        <tr>
            <td>Cmd + Enter</td>
            <td>Üzerinde bulunulan satırdan sonra yeni bir satır ekler.</td>
        </tr>
        <tr>
            <td>Cmd + Shift + Enter</td>
            <td>Üzerinde bulunulan satırdan önce yeni bir satır ekler.</td>
        </tr>
        <tr>
            <td>Cmd + L</td>
            <td>Satırı seçer.</td>
        </tr>
        <tr>
            <td>Cmd + Shift + /</td>
            <td>İmlecin bulunduğu satırı yorum alanı yapar/yorumu açar.</td>
        </tr>
        <tr>
            <td>Cmd + Shift + D</td>
            <td>İmlecin bulunduğu satırdan bir tane daha kopyalar.</td>
        </tr>
        <tr>
            <td>Cmd + J</td>
            <td>İmlecin bulunduğu satırla alt satırı birleştirir.</td>
        </tr>
        <tr>
            <td>Cmd + Shift + V</td>
            <td>Girintiyi düzenleyerek yapıştırır. (Boşluklardan dolayı kodun kaymasını düzeltir.)</td>
        </tr>
        <tr>
            <td>Cmd + Alt + .</td>
            <td>Kapatılmayan etiketlerini kapatır.</td>
        </tr>
        <tr>
            <td>Cmd + K + Backspace</td>
            <td>İmleçten satır başına kadar siler.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + ]</td>
            <td>Seçilen satırları bir tab içeri iter.</td>
        </tr>
        <tr>
            <td>Cmd + Alt + [</td>
            <td>Seçilen satırları bir tab geri çeker.</td>
        </tr>
        <tr>
            <td>Ctrl + Shift + K</td>
            <td>Satırı siler.</td>
        </tr>
        <tr>
            <td>Ctrl + M</td>
            <td>Açılıp kapanan ‘[]’, ‘{}’, ‘()’ benzeri karakterler üzerindeyken basılırsa imleç açıldığı yerden kapandığı yere gider.</td>
        </tr>
        <tr>
            <td>Ctrl + Shift + M</td>
            <td>Açılıp kapanan ‘[]’, ‘{}’, ‘()’ benzeri karakterler üzerindeyken basılırsa karakterler arasını seçer.</td>
        </tr>
        <tr>
            <td>Ctrl + K</td>
            <td>İmleçten satır sonuna kadar siler.</td>
        </tr>
        <tr>
            <td>Ctrl + Y</td>
            <td>Son yapılan işlemi tekrarlar.</td>
        </tr>
        <tr>
            <td>Ctrl + Space</td>
            <td>Otomatik tamamlama önerilerini görmenizi sağlar.</td>
        </tr>
        <tr>
            <td>Ctrl + Cmd + Up</td>
            <td>Satırı bir üst satır ile yer değiştirir.</td>
        </tr>
        <tr>
            <td>Ctrl + Cmd + Down</td>
            <td>Satırı bir alt satır ile yer değiştirir.</td>
        </tr>
    </tbody>
</table>

<h2>Sonuç</h2>

<p>Görüldüğü üzere editör tartışmalarında Sublime Text’in yeri de oldukça sağlam. Tabii ki Sublime Text’in özellikleri burada saydıklarımızdan ibaret değil, değinmediğimiz özellikleri de mevcut.</p>

<p>Yazıda değinmemiz gerektiğini düşündüğünüz özellikleri yorum bölümünde paylaşırsanız, faydalı bir doküman oluşturma yolunda güzel bir adım atmış olabiliriz.</p>

<p>Not: Bu makale <a href="http://labs.sahibinden.com/yazi/sublime-texti-etkin-kullanmak/">labs.sahibinden.com</a> üzerinde de yayımlanmıştır.</p>
