<h1 ng-head ng-title>Zamandan Tasarruf Ettiren Görev Çalıştırıcısı, Grunt</h1>

<span class="time">3 Temmuz 2014</span>

<img alt="Grunt" src="/img/static/posts/grunt/grunt.png">

<p ng-head ng-auto-description>Yazılım geliştiricilerin sürekli yapması gereken ve kendini tekrar eden bazı sıkıcı görevleri vardır. Bu bazen dosya sıkıştırmak, bazen de kod derlemek olabiliyor ve geliştiriciler bunları her seferinde tekrar tekrar yaparak gereksiz bir zaman kaybı yaşıyor.</p>

<p><a href="http://gruntjs.com/">Grunt</a> ile sıkıştırma, derleme, birim test, kod doğrulama, sprite oluşturma, imaj küçültme vb tekrarlanan işleri yaparken daha az iş yaparsınız ve bu işleri yapmak artık külfet olmaktan çıkar.</p>

<p>Grunt, <a href="http://nodejs.org/download/">Node.js</a> ile birlikte çalışan bir görev çalıştırıcısıdır (Task Runner) ve her geçen gün büyüyen büyük bir ekosistem. Yüzlerce Grunt eklentisiyle çok az çaba harcayarak işlerinizi otomatikleştirebilirsiniz. Eksikliğini hissettiğiniz görevler için de eklentiler yayımlayabilirsiniz.</p>

<p>Eklentiler, Grunt’ı Grunt yapan en önemli faktördür. Yazının devamında eklentileri detaylı olarak inceleyeceğiz.</p>

<h2>Kurulum</h2>

<p>Grunt, Node.js bağımlı bir uygulama olduğu için önce Node.js kurmalıyız. <a href="http://nodejs.org/download/">nodejs.org</a>‘tan uygulamayı indirerek ya da <a href="http://brew.sh/">homebrew</a> gibi araçlar kullanıyorsanız komut satırından yükleyebilirsiniz (Örn: brew install node).</p>

<p>Node.js kurulduktan sonra Terminal’den aşağıdaki komutu çalıştırıp Grunt’ı kuruyoruz. (Yetki durumuna göre kodun başına “sudo” komutu eklemeniz gerekebilir.)</p>

<pre>
    <code class="language-javascript" prism>
npm install -g grunt-cli
    </code>
</pre>

<p>Bu komutla Grunt, sisteminize kurulmuş oldu. Grunt’ın aktif hale gelebilmesi için eklenmesi gereken birkaç dosya daha var. Terminal’den Grunt kullanacağınız klasöre geçip;</p>

<pre>
    <code class="language-javascript" prism>
npm init
    </code>
</pre>

<p>komutu çalıştırılır ve uygulamanın sorduğu sorulara yanıt verilir (Proje ismi, versiyon numarası, lisans tipi vs). Bunun sonucunda projeye <strong>“package.json”</strong> dosyası eklenmiş olur.</p>

<p>Daha sonra aşağıdaki komut ile grunt projeye tanımlanır.</p>

<pre>
    <code class="language-javascript" prism>
npm install grunt --save-dev
    </code>
</pre>

<p>Oluşturulması gereken son dosyamız, <strong>gruntfile.js</strong>. Projenin hemen altına eklenir. Aşağıda standart bir <strong>gruntfile.js</strong> içeriği bulunuyor.</p>

<pre>
    <code class="language-javascript" prism>
module.exports = function (grunt) {
    grunt.initConfig({
        pkg: grunt.file.readJSON('package.json')
    });

    grunt.registerTask('default', []);
};
    </code>
</pre>

<ul>
    <li><strong>grunt.file.readJSON( ‘package.json’ )</strong> : Oluşturmuş olduğumuz package.json dosyasını okumak içindir.</li>
    <li><strong>grunt.registerTask(‘default’, [])</strong> : Komut satırından <strong>grunt</strong> komutuyla çalıştırılacak eklentileri kayıt eder.</li>
    <li>Komut satırından <strong>grunt myTask</strong> diyerek bir görev çalıştırmak isterseniz <strong>grunt.registerTask(‘myTask’, [])</strong> ile görev tanımlayabiliriz.</li>
    <li>registerTask methodunun 2. parametresi olan Array’e eklenti isimleri “string” olarak tanımlanır, birden fazla eklenti adı virgül ile ayrılır.</li>
</ul>

<p>Grunt’ı tamamen aktif duruma getirmek için bir görev tanımlamak gerekiyor. Bunun için bir sonraki konuya geçiyoruz.</p>

<h2>Eklentiler / Plug-In’ler</h2>

<p>Girişte bahsettiğim gibi eklentiler Grunt’ta çok önemli, hemen hemen herşeyi eklentiler ile yapacağız. Eklentiler aracılığıyla bir görev/task eklemeyi görelim.</p>

<p>Örnek olarak <strong><a href="https://www.npmjs.org/package/grunt-contrib-stylus">stylus</a></strong> eklentisini kuralım. Eklentilerin sayfalarında yüklemenin ve ayarlamaların nasıl yapılacağı ayrıntılı olarak bulunmaktadır, inceleyebilirsiniz.</p>

<pre>
    <code class="language-javascript" prism>
npm install grunt-contrib-stylus --save-dev
    </code>
</pre>

<p>Yukarı da ki komut çalıştırıldıktan sonra <strong>stylus</strong> eklentisi kurulmuş ve <strong>package.json</strong>‘a stylus bilgileri otomatik olarak eklenmiş oluyor. Bu işlemin ardından <strong>gruntfile.js</strong>‘i açıp aşağıdaki şekilde değiştiriyoruz.</p>

<pre>
    <code class="language-javascript" prism>
module.exports = function (grunt) {
    grunt.initConfig({
        pkg: grunt.file.readJSON('package.json'),

        stylus: {
            compile: {
                files: {
                    'build/css/common.css' : 'app/css/*.styl'
                }
            }
        }
    });

    grunt.loadNpmTasks('grunt-contrib-stylus');

    grunt.registerTask('default', ['stylus']);
};
    </code>
</pre>

<ul>
  <li>Önce stylus ayarlarını tanımladık.</li>
  <li>Ardından <strong>grunt.loadNpmTasks(‘grunt-contrib-stylus’);</strong> satırı ile stylus görevinin yüklenmesini sağladık.</li>
  <li>Son olarak registerTask methoduna stylus’u tanımladık.</li>
</ul>

<p>Komut satırından <strong>grunt</strong> komutunu çalıştırdığımızda projedeki <strong>“app/css/”</strong> klasörü altında ki tüm stylus dosyaları <strong>“build/css/”</strong> klasörü altına <strong>“common.css”</strong> adıyla çevrilmiş ve tek dosya olarak eklenmiş olacak.</p>

<p><strong><a href="http://gruntjs.com/plugins">Grunt Plugins</a></strong> sayfasından en çok indirilen uygulamaları görebilir ve istediğiniz uygulamaları arayabilirsiniz.</p>

<h2>Sonuç</h2>

<p>Görüldüğü üzere Grunt, geliştiriciler için olmazsa olmazlardan. Burada tüm özelliklerinden ve tüm eklentilerinden bahsedemedik ama benim gibi üşengeçseniz Grunt kesinlikle size göre.</p>

<p>Not: Bu makale <a href="http://labs.sahibinden.com/yazi/grunt/">labs.sahibinden.com</a> üzerinde de yayımlanmıştır.</p>
